<div class="row">
    <h1> Experiencia (ficticia)   </h1>
    <div class="col-lg 1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1> Trabajo 1 </h1> - <h3> años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum eaque, perspiciatis cumque accusantium delectus cum nisi velit hic exercitationem vel dolorum repellendus veniam atque! Vero unde iusto enim neque? 

            </p>
        </ul>
        <ul>
            <li>
                -->
                <h1> Trabajo 2 </h1> - <h3> años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum eaque, perspiciatis cumque accusantium delectus cum nisi velit hic exercitationem vel dolorum repellendus veniam atque! Vero unde iusto enim neque? 

            </p>
        </ul>
        <ul>
            <li>
                <h1> Trabajo 3 </h1> - <h3> años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ipsum eaque, perspiciatis cumque accusantium delectus cum nisi velit hic exercitationem vel dolorum repellendus veniam atque! Vero unde iusto enim neque? 

            </p>
        </ul>
    </div>
</div>