
<!--
<header>
    <a class="logo" href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa">
      <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/sliderimage1/1668983675/banner-ok-argentina-programa.jpg" alt="logo">
      <img src="https://argentinaprograma.inti.gob.ar/theme/moove/pix/LogosInti.png" alt="logo">
    </a>
      <h2 class="nombre-proyecto">Proyecto Final AP</h2>
    <nav>
     <a href="" class="nav-link">Inicio</a>
     <a href="" class="nav-link">Proyectos</a>
     <a href="" class="nav-link">Experiencia</a>
     <a href="" class="nav-link">Contacto</a>
     <a href="" class="nav-link">Ingresar</a>
     <div class="social">
     <a href="https://github.com/riskypotato241" class="nav-link"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png"></a>
     <a href="mailto:maximocaceres2005@gmail.com" class="nav-link"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/2560px-Gmail_icon_%282020%29.svg.png"></a>
     <a href="https://discordapp.com/users/%EF%BB%BFPlapi#0704" class="nav-link"><img src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png"></a>
     <a href="https://www.youtube.com/channel/UCgc5VBM5LRoELHUNgekhA5g" class="nav-link"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/YouTube_social_white_squircle.svg/1200px-YouTube_social_white_squircle.svg.png"></a>
    </div>
    </nav>
</header>
<app-banner></app-banner> 
-->

<div class="row">
    <app-logo></app-logo>
    <app-banner></app-banner>
  </div>
