.row {
    padding: 20px;
    
}

div {
    background-color: burlywood;
    text-align: center;
}

#nombre {
    font-weight: bold;
    margin-top: 25%;
}   

 @media(min-width: 576px){
        #yo{
            position: absolute;
            width: 9%;
            border-radius: 90%;
            box-shadow: 2px 2px 2px black;
            left: 2%;
            top: 550px;
        }
    }
    @media(max-width: 575px){
        #yo{
            position: absolute;
            width: 20%;
            border-radius: 90%;
            box-shadow: 2px 2px 2px black;
            left: 40%;
            top: 830px;
        }
    }