<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">   
    <img src="https://i.imgur.com/xwZdhs1.jpg" class="img-fluid" alt="yo" id="yo">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Máximo Cáceres Characán</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Sobre mí</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore molestias quibusdam numquam ratione sequi laborum odio praesentium natus molestiae cumque nihil, minus eius velit cupiditate, maiores quisquam asperiores expedita deleniti?</p>
        </span>
    </div>
</div>