<div class="row">COMPileroption
    <h1>Hard and Soft skills</h1>
    <div class="text-center col-sm-6 col col-md-4 col-lg-4">
        <circle-progress
            [percent]="30"
            [radius]="90"
            [title]="'HTML'"
            [titleColor]="'green'"
            [titleFontSize]="'30px'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ccffff'"
            [innerStrokeColor]="'#006666    '"
            [animation]="true"
            [animationDuration]="800"
            [showSubtitle]="false"
            [lazy]="true"
   
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-6 col col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [radius]="90"
            [title]="'CSS'"
            [titleColor]="'green'"
            [titleFontSize]="'30px'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ccffff'"
            [innerStrokeColor]="'#006666    '"
            [animation]="true"
            [animationDuration]="800"
            [showSubtitle]="false"
            [lazy]="true"
   
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-6 col col-md-4 col-lg-4">
        <circle-progress
            [percent]="15"
            [radius]="90"
            [title]="'JAVASCRIPT'"
            [titleColor]="'green'"
            [titleFontSize]="'28px'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ccffff'"
            [innerStrokeColor]="'#006666    '"
            [animation]="true"
            [animationDuration]="800"
            [showSubtitle]="false"
            [lazy]="true"
   
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-6 col col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="90"
            [title]="'INGLÉS'"
            [titleColor]="'green'"
            [titleFontSize]="'30px'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ccffff'"center 
            [innerStrokeColor]="'#006666    '"
            [animation]="true"
            [animationDuration]="800"
            [showSubtitle]="false"
            [lazy]="true"
   
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-6 col col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="90"
            [title]="'COOPERACIÓN'"
            [titleColor]="'green'"
            [titleFontSize]="'20px'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ccffff'"
            [innerStrokeColor]="'#006666    '"
            [animation]="true"
            [animationDuration]="800"
            [showSubtitle]="false"
            [lazy]="true"
   
        ></circle-progress>
    </div>  
    <div class="text-center col-sm-6 col col-md-4 col-lg-4">
        <circle-progress
            [percent]="45"
            [radius]="90"
            [title]="'GITHUB '"
            [titleColor]="'green'"
            [titleFontSize]="'30px'"
            [showUnits]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ccffff'"
            [innerStrokeColor]="'#006666    '"
            [animation]="true"
            [animationDuration]="800"
            [showSubtitle]="false"
            [lazy]="true"
   
        ></circle-progress>
    </div>  
</div>  